<!DOCTYPE html>
<html>
<head>
<title>Edit Profile</title>

<style>
body{
font-family:Arial;
background:#f2f2f2;
margin:0;
}

.container{
width:50%;
margin:40px auto;
background:white;
padding:25px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

input, textarea{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:#1f2c56;
padding:10px 18px;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
opacity:.9;
}
</style>
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% set category, message = messages[-1] %}

    <div id="toast"
      style="
        position:fixed;
        top:15px;
        right:20px;
        z-index:9999;
        padding:12px 18px;
        border-radius:8px;
        color:white;
        font-weight:600;
        box-shadow:0 3px 8px rgba(0,0,0,0.2);
        {% if category=='success' %} background:#28a745;
        {% elif category=='danger' %} background:#dc3545;
        {% elif category=='warning' %} background:#ffc107; color:black;
        {% else %} background:#17a2b8;
        {% endif %}
    ">
      {{ message }}
    </div>

    <script>
      setTimeout(() => {
        let t = document.getElementById("toast");
        if(t){ t.style.display="none"; }
      }, 3000);
    </script>

  {% endif %}
{% endwith %}

<div class="container">

<h2>Edit Profile</h2>

<form method="POST" enctype="multipart/form-data">


<label>Name</label>
<input type="text" name="name" value="{{ user.name }}" required>

<label>Qualification</label>
<input type="text" name="qualification" value="{{ user.qualification }}">

<label>Skills</label>
<textarea name="skills">{{ user.skills }}</textarea>

<label>Upload Resume (PDF / DOC / DOCX)</label>
<input type="file" name="resume" accept=".pdf,.doc,.docx">


<button type="submit">Save Changes</button>

</form>

</div>

</body>
</html>
